@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700&display=swap");

:root {
    font-family: "Sora", sans-serif;
    color: #ffffff;
    background: #0d1117;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;
}

html {
    background: #0d1117;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: #0d1117;
}

button,
input,
select {
    font: inherit;
}